.experience__main {
  margin-top: 200px;
  margin-bottom: 40px;
  font-family: $font-text;
}

.experience__main h1 {
  color: $secondary;
  font-size: 52px;
  text-align: center;
}

.experience-section {
  align-items: center;
  display: flex;
  height: 95%;
  justify-content: space-between;
  margin: 70px 0px;
  width: 100%;
  &:nth-last-child(1) {
    flex-direction: row-reverse;
  }
}

.company-card {
  justify-content: center;
}

.company-card img {
  border-radius: $br-xl;
  height: 400px;
  width: 400px;
}

.experience-details {
  background: $white;
  border-radius: $br-xl;
  border: 7px dashed $primary;
  display: flex;
  flex-direction: column;
  height: 385px;
  justify-content: center;
  padding: 0px 40px;
  width: 60%;
}

.experience-details h2 {
  color: $secondary;
  font-size: 48px;
  margin-bottom: 10px;
}

.experience-details span {
  color: $gray-400;
  font-family: $font-text;
}

.experience-details p {
  font-family: $font-text;
  margin-top: 20px;
}

.experience-details button {
  justify-content: flex-end;
}

// ? Media querys

@media screen and (max-width: $bp-xxl) {
  .company-card img {
    height: 320px;
    width: 320px;
  }
  .experience-details {
    width: 500px;
  }
}

@media screen and (max-width: 1100px) {
  .company-card img {
    height: 240px;
    width: 240px;
  }
  .experience-details {
    height: 100%;
    width: 450px;
  }
  .experience-details h2 {
    padding-top: 15px;
    font-size: 36px;
  }
  .experience-details p {
    font-size: $f-sm;
  }
  .experience-details button {
    font-size: $f-sm;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 924px) {
  .experience-section {
    flex-direction: column;
    &:nth-last-child(1) {
      flex-direction: column;
    }
  }
  .company-card img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: $bp-xsm) {
  .experience-details {
    width: 300px;
  }
}

@media screen and (max-width: $bp-xxsm) {
  .experience-details {
    width: 200px;
  }
  .experience-details h2 {
    font-size: $f-xl;
  }
  .experience-details span {
    font-size: 12px;
  }
}
