.stack__main {
  margin-top: 125;
  font-family: $font-text;
  padding-bottom: 90px;
}

.stack-container {
  height: 100%;
  text-align: center;
  padding-top: 15px;
}

.stack-container h1 {
  color: $primary;
  font-size: 52px;
}

.stack-container p {
  color: $white;
  font-size: $f-xl;
  font-family: $font-text;
}

.technologies-container {
  margin: 0px 10%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 80px);
  place-items: center;
}

.technologies-container img {
  height: 48px;
  width: 48px;
}

.technologies-container i,
.technologies-container img {
  color: $white;
  cursor: pointer;
  transition: ease 300ms;
  &:hover {
    transform: scale(1.3);
  }
  &:nth-child(1) {
    color: #e44d26;
  }
  &:nth-child(2),
  &:nth-child(5) {
    color: #0070ba;
  }
  &:nth-child(3),
  &:nth-child(13) {
    color: $primary;
  }
  &:nth-child(4),
  &:nth-child(14),
  &:nth-child(15) {
    color: #58c394;
  }
  &:nth-child(6),
  &:nth-child(7) {
    color: #cf649a;
  }
  &:nth-child(8) {
    color: #563d7c;
  }
  &:nth-child(9),
  &:nth-child(11) {
    color: #f05030;
  }
}

// ? Media querys

@media screen and (max-width: $bp-sm) {
  .stack-container h1 {
    font-size: 42px;
  }
  .stack-container p {
    font-size: $f-md;
  }
  .technologies-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 80px);
  }
}
