.salute__main {
  display: flex;
  height: 80vh;
}

// * I N F O

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-left: 0px;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}
.text-container span {
  color: $gray;
  font-size: $f-xxl;
}
.text-container h1 {
  color: $white;
  font-size: 56px;
}
.text-container p {
  color: gray;
  font-size: 28px;
  font-weight: normal;
}

.media-container {
  display: flex;
  margin-top: 45px;
  padding: 0px 75px;
}

.media-container a {
  transition: ease 300ms;
  animation: float 5s ease-in-out infinite;
  margin-right: 40px;
  &:hover {
    animation-play-state: paused;
  }
  &:nth-child(2) {
    animation-delay: 1s;
  }
  &:nth-child(3) {
    animation-delay: 2s;
  }
  &:nth-child(4) {
    animation-delay: 3s;
  }
}

.media-container a > i {
  color: $white;
  // ? Change icons size!!!!!
  // font-size: 100px;
  &:hover {
    color: $primary;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

// * D E V   I M A G E

// .images-container {
//   bottom: 0;
//   height: 80%;
//   position: absolute;
//   right: 100px;
//   width: 45%;
// }

// .images-container img {
//   bottom: 0;
//   height: 100%;
//   left: 50%;
//   position: absolute;
//   transform: translateX(-50%);
//   transition: bottom 1s, left 1s;
// }

// .image-dev {
//   height: 400px;
//   width: 400px;
// }

// .images-container:hover .image-background {
//   bottom: 40px;
// }

// .images-container:hover .image-dev {
//   left: 55%;
// }

// ? Media querys

@media screen and (max-width: $bp-xxxl) {
  .images-container {
    display: none;
  }
  .info-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 0px;
  }
  .text-container {
    align-items: center;
  }
}

@media screen and (max-width: $bp-sm) {
  .text-container h1 {
    font-size: 35px;
  }
  .text-container span {
    font-size: 20px;
  }
  .text-container p {
    font-size: 20px;
  }
  .media-container {
    display: flex;
    margin-top: 45px;
    padding: 0px 25px;
    a {
      margin-right: 15px;
      i {
        font-size: 2em;
      }
    }
  }
}
// @media screen and (max-width: $bp-xl) {
//   .text-container h1 {
//     font-size: 44px;
//   }
//   .text-container p {
//     font-size: $f-lg;
//   }
// }

// @media screen and (max-width: $bp-lg) {
//   // Check icons size
//   .text-container h1 {
//     font-size: 40px;
//   }
//   .image-dev {
//     height: 350px;
//     width: 280px;
//   }
//   .image-background {
//     width: 90%;
//   }
// }

// @media screen and (max-width: $bp-md) {
//   .info-container {
//     background-color: green;
//   }
//   .salute__main {
//     flex-direction: column;
//   }
//   .images-container {
//     bottom: 0;
//     height: 80%;
//     position: static;
//     right: 100px;
//     width: 45%;
//   }
//   .image-dev {
//     height: 200px;
//     width: 150px;
//   }
// }

// @media screen and (max-width: $bp-sm) {
//   .salute__main {
//     display: block;
//   }
//   .info-container {
//     background-color: orangered;
//   }
// }
