// * C O L O R S
$primary: #ffce47;
$secondary: #fdba02;
$tertiary: #d55f20;

$black: #000000;
$black-100: #383838;
$black-400: #141212;
$black-600: #131313;

$gray: #9a9a9a;
$gray-400: #757575;

$white: #ffff;
