// ? Break Points
$bp-xxsm: 390px;
$bp-xsm: 524px;
$bp-sm: 600px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1024px;
$bp-xxl: 1200px;
$bp-xxxl: 1440px;

// ? Fonts
$font-title: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$font-text: Helvetica, sans-serif;

$f-xs: 10px;
$f-sm: 12px;
$f-md: 16px;
$f-lg: 18px;
$f-xl: 20px;
$f-xxl: 24px;

// ? Border Radius
$br-xs: 2px;
$br-sm: 5px;
$br-md: 10px;
$br-lg: 15px;
$br-xl: 20px;
$br-xxl: 30px;

// ? Marigns
// top
.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 15px;
}
.mt-4 {
  margin-top: 20px;
}
.mt-5 {
  margin-top: 25px;
}

// bottom
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 15px;
}
.mb-4 {
  margin-bottom: 20px;
}
.mb-5 {
  margin-bottom: 25px;
}

// Flexbox
.flex {
  display: flex;
}
.f-full {
  width: 100%;
}
.f-ai {
  align-items: center;
}
.f-aie {
  align-items: flex-end;
}
.f-jc {
  justify-content: center;
}
.f-jce {
  justify-content: flex-end;
}
.f-jsb {
  justify-content: space-between;
}
.f-jsa {
  justify-content: space-around;
}

// Shadows
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
